div.main-img{
    position: relative;
    display: block;
}
div.section img{
    width: 100%;
}
div.main-text{
    position: absolute;
    top: 0;
    width: 50%;

}
div.section a{
    color: white;
}