div.section{
    z-index: 0;
}
div.main-img{
    position: relative;
}
div.section img{
    width: 100%;
    
}
div.section ul{
    color: white;
}
div.main-text{
    padding-right: 10px;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
    

}
div.section a{
    color: white;
}
@media(max-width:1600px){
    div.main-text{
    font-size: 1rem;
    }
}
@media(max-width:825px){
    div.main-text{
    font-size: 0.5rem;
    }
}
@media(max-width:425px){
    div.main-text{
        font-size: 0.125rem;
        padding-right: 5px;
    }
}