body{
    margin: 0;
    padding: 0;
    font-family: "pixel";
    
}

@font-face {

    font-family:'pixel';
    src: url("../fonts/Monocraft.otf");
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
div.main{
    display: grid;
    grid-template-rows: 3rem 1fr 300px;
}
div.navbar{
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    grid-row: 1;
    background-color:white;
    position: sticky;
    top: 0;
    border-bottom: 0.5px solid #ddd;
}
div.section{
    background-color: white;
    grid-row: 2;
    color: black;
    font-size: 1.125rem;
    line-height: 1.7;
}
div.footer{
    grid-row: 3;
    background-color: #ededed;
    position: relative;
}
#menuButton{
   display: none;
   z-index: 1;
}
#main-pannel{
    display: flex;
    align-self: center;
}
#main-pannel a{
    font-weight: bold;
    margin-inline: 20px;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;



}
#main-pannel div{
    
}
#main-pannel div:hover{
    text-decoration: underline;

}
div.searchBg{
    right: 20px;
    width: 200px;
    height: 30px;
    top: 2px;
    position: relative;
    background-color: #ddd;
    display: flex;
    border: 2mm ridge rgba(93, 94, 90, 0.6);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
div.searchBg input{
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;

}



@media (max-width:600px){
    #menuButton{
        display: block;
        color: black;
        height: 100%;
        background-color: transparent;
        font-size: 2em;
        border-style: none;
        padding-inline:10px ;
        cursor: pointer;
    }
    div.navbar{
    }
    #main-pannel{
        display: none;
    }
    #main-pannel div{
        text-decoration: none;
    }
    #main-pannel div{
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding-block: 5px;
    }
}