div.section h1, h2{
    text-align: center;
}
div.section li{
    margin-top: 10px;
}
div.section ul{
    list-style-type: decimal;
}
div.main-text{
    /* filter: blur(0.3rem); */
    display: flex;
    flex-direction: column;
}
div.imgs{
    position: fixed;
    z-index: 98;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 0;
}
div.imgs img{
    position: relative;
    margin-inline: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    z-index: 99;
    width: 80vw;
    height: 70vh;
    
    
}
div.main-text div div{
    display: inline;
    color: #2455c3;
    cursor: pointer;
}
