div.imgCont{
    text-align: center;
    display: block;
    justify-content: center;
}
div.imgCont img {
    width: 50%;
}
div.textCont{
    display: flex;
    flex-direction: row;
    text-align: center;
}
div.textCont div {
    background-color: antiquewhite;
    border-radius: 3vw;
    width: 50%;
    height: auto;
    margin: 1vw;
    padding: 2vw;
}
h1{
    font-size: 5vw;
    width: 100%;
}
div.textCont li{
    margin-top: 2vw;
    font-size: 2vw;
    background-color: aliceblue;
}
div.textCont h1{
    font-size: 2vw;
}

