
h1, h2{
    margin-left: 10px ;
}
div.section li{
    margin-top: 10px;
}
div.section img{
    display: none;
    width: 100%;
}
li{
    list-style-type:decimal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 400;
  }
p{
    margin-left: 10px ;
}
div.start-listphotos{
}
.first{
    color: red;
    display: inline;
}
.fueltap{
    color: green;
    display: inline;
}
.suction{
    color: blue;
    display: inline;
}
.third{
    color: purple;
    display: inline;
}
.second{
    color: cyan;
    display: inline;
}
.candle{
    color: orange;
    display: inline;
}
.transfer{
    color:darkgray;
    display: inline;
}



.firstPh{
    background-color: red;
    color: aliceblue;
    display: inline;
    cursor: pointer;
}
.fueltapPh{
    background-color: green;
    color: aliceblue;
    display: inline;
    cursor: pointer;
}
.suctionPh{
    background-color: blue;
    color: aliceblue;
    display: inline;
    cursor: pointer;
}
.thirdPh{
    background-color: purple;
    color: aliceblue;
    display: inline;
    cursor: pointer;
}
.secondPh{
    background-color: cyan;
    color:aliceblue;
    display: inline;
    cursor: pointer;
}
.candlePh{
    background-color: orange;
    color: aliceblue;
    display: inline;
    cursor: pointer;
}
.transferPh{
    background-color:darkgray;
    color: aliceblue;
    display: inline;
    cursor: pointer;
}


.start-listphotos div.firstPh:active .first-img{
    display: inline;
}
.start-listphotos div.fueltapPh:active .fueltap-img{
    display: inline;
}
.start-listphotos div.suctionPh:active .suction-img{
    display: inline;
}
.start-listphotos div.secondPh:active .second-img{
    display: inline;
}

.start-listphotos div.thirdPh:active .third-img{
    display: inline;
}
.start-listphotos div.candlePh:active .candle-img{
    display: inline;
}
.start-listphotos div.transferPh:active .transfer-img{
    display: inline;
}

@media (max-width:800px) {
    h1{
        margin-top: 2.5em;
    }
    .start-listphotos div.firstPh:hover .first-img{
        display: inline;
    }
    .start-listphotos div.fueltapPh:hover .fueltap-img{
        display: inline;
    }
    .start-listphotos div.suctionPh:hover .suction-img{
        display: inline;
    }
    .start-listphotos div.secondPh:hover .second-img{
        display: inline;
    }
    
    .start-listphotos div.thirdPh:hover .third-img{
        display: inline;
    }
    .start-listphotos div.candlePh:hover .candle-img{
        display: inline;
    }
    .start-listphotos div.transferPh:hover .transfer-img{
        display: inline;
    }
}