body {
  margin: 0;
  padding: 0;
}
li{
  margin-top: 20px;
}
a{
  text-decoration: none;
  font-size: 20px;
}
div.main-list a{
  color: black;
  /* box-shadow: 0 5px 5px 0 rgba(11, 99, 246, 1); */
  transition: 0.5s;
}
div.main-list a:hover{
  background-color: rgb(240, 240, 240);
  box-shadow: 0 5px 20px 0 rgb(201, 201, 201);
}
li{
  list-style-type:decimal;
}
@media(max-width:800px){
  div.main-list{
    margin-top: 4em;
  }
  
}