body {
  margin: 0;
  padding: 0;
}


div.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
}
div.card>img{
  width: 100%;
}
div.card{
  margin: 1.5em;
}

@media (max-width:800px){
  div.grid-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5);
  }
}
@media (max-width:600px){
  div.grid-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9);
  }
  div.card{
    margin-inline: 10px;
  }
}